BOT_TOKEN="https://discord.com/developers/docs/topics/oauth2"
CLIENT="YourBotID"
SUPPORT_CHANNEL="ChannelID"
SUPPORT_ROLE="RoleID"
GEMINI_KEY="https://aistudio.google.com/app/apikey"
MONGODB= "mongodb://!!USER!!:!!PASSWORD!!@mongo:27017/SpiffoBot"

# Mongo DB Container first time setup
DB_PASSWORD=
DB_USER=